<form action="/search">
    <input type="text">
    <button type="button">Search</button>
</form>

<section class="cats">
    <ul>
        {{#each data}}
        <li>
            <img src="{{photoUrl}}" alt="Black Cat">
            <h3></h3>
            <p><span>Breed: </span>{{breed}}</p>
            <p><span>Description: </span>{{description}}</p>
            <ul class="buttons">
                <li class="btn edit"><a href="/cats/edit-cat">Change Info</a></li>
                <li class="btn delete"><a href="/cats/shelter">New Home</a></li>
            </ul>
        </li>
        {{/each}}
    </ul>
</section>